

<!DOCTYPE html>

<html>
<head>
    <title>ATB</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
</head>
<body>
<div>
      @RenderBody()
</div>
</body>
</html>