@model ResetPasswordViewModel

<h2>Скидання пароля</h2>

<form method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label>Новий пароль</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label>Підтвердження пароля</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Змінити пароль</button>
</form>