@model UserLinkViewModel
<li class="nav-item">
    <a class="nav-link"
       asp-action="Register"
       asp-controller="Account">
        <img src="/images/@Model.Image" alt="@Model.Name"
             style="height: 32px !important; width: 32px !important;"/>
        @User.Identity.Name
    </a>
</li>