@using MyMvcApp.Constants
@model List<CategoryItemModel> 
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<div class="container">
    <h1 class="text-center">Категорія</h1>
    @if (User.IsInRole($"{Roles.Admin}"))
    {
        <a asp-action="Create" class="btn btn-success">Додати категорію</a>
    }
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фото</th>
            <th scope="col">Назва</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>
                    <img src="/images/@category.Image" width="100"/>
                </td>
                <td>@category.Name</td>
                @if (User.IsInRole($"{Roles.Admin}"))
                {
                    <td>


                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            DELETE
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure?
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-action="Delete" method="post" style="display:inline;">
                                            <input type="hidden" name="id" value="@category.Id"/>
                                            <button type="submit" class="btn btn-danger">Confirm</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                }

                @if (User.IsInRole($"{Roles.Admin}"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
                    </td>
                }
               
            </tr>
        }
        </tbody>
    </table>
</div>